
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-wide w3-padding w3-card">
    <a href="home" style="background-color:#C63D2D"class="w3-bar-item w3-button"><b>Home</b> </a>
    <a href="songs" style="background-color:rgb(88, 198, 45)"class="w3-bar-item w3-button">Songs</a>
    <a href="userprofile" style="background-color:rgb(45, 81, 198)"class="w3-bar-item w3-button"  >Profile</a>
    <a href="playlist" style="background-color:rgb(45, 137, 198)"class="w3-bar-item w3-button">Playlists</a>
    <a href="manager" style="background-color:rgb(183, 24, 189)"class="w3-bar-item w3-button">Manager</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
    <a href="signup" class="w3-bar-item w3-button"><b>Sign Up</b> </a>
    <a href="login" class="w3-bar-item w3-button"><b>Log In</b> </a>
    
    </div>
 
  </div>
 
</div>
<router-outlet></router-outlet>

</body>
</html>
